.Product{
    width: 300px;
    height: 510px;
    border: 2px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.Product img{
  height: 286px;
 width: 286px;
 margin: 7px;
 border-radius: 8px;
}
.Product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin-left: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #0F161A;
}
.product-info{
    margin-left: 14px;
}
.product-info p{
    margin-top: 0px;
}
.btn-Cart{
    width: 100%;
    background: #FFF083;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0px;
}
.btn-Cart:hover{
    color: orange;
}